@use './variables';


@mixin tablet {
    @media (min-width: variables.$breakpoint-tablet) {
        @content;
    }
}

@mixin desktop {
    @media (min-width: variables.$breakpoint-desktop) {
        @content;
    }
}

@mixin mobile-headline-padding {
    padding-top: 1.5rem;
    padding-bottom: 1rem
}

@mixin headline-padding {
    padding-top: 2.25rem;
    padding-bottom: 1.5rem;
}