/* Media Breakpoints */
$breakpoint-tablet: 48rem;
$breakpoint-desktop: 80rem;

/* Primary Colors */
$color-brainflix-black: #323232;
$color-brainflix-blue: #0095FF;
$color-silver: #AFAFAF;
$color-white: #FFFFFF;

/* Seconday Colors */
$color-brainflix-darkblack: #000000;
$color-brainflix-darkblue: #0065AD;
$color-mercury: #E1E1E1;
$color-alabaster: #FAFAFA;