/* Media Breakpoints */
$breakpoint-tablet: 48rem;
$breakpoint-desktop: 80rem;

/* Primary Colors */
$color-primary-text: #323232;
$color-primary-cta: #0095FF;
$color-secondary-text: #AFAFAF;
$color-background-cta: #FFFFFF;

/* Seconday Colors */
$color-video-player-components: #000000;
$color-cta-hover: #0065AD;
$color-divider-outline: #E1E1E1;
$color-form-field-background: #FAFAFA;