@use '../../styles/partials/variables.scss';
@use '../../styles/partials/mixins';


.header {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem 1rem 0 1rem;
    margin-bottom: 1rem;

    @include mixins.tablet {
        flex-direction: row;
        justify-content: space-between;
        padding: 1rem 2rem 0 2rem;
    }

    @include mixins.desktop {
        padding: 1rem 8rem 0 8rem;
    }

    //brainflix logo
    &__image {
        width: 7.5rem;
        height: 1.5625rem;
    }

    //STYLING FOR MOBILE VIEW
    //div holding all mobile elements under brainflix logo
    &__mobile-view {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;

        @include mixins.tablet {
            display: none;
        }
    }

    &__mobile-search-avatar-container {
        display: flex;
        margin-top: 1rem;
        margin-bottom: 1rem;
    }

    &__mobile-form-input {
        height: 2.25rem;
        width: 15rem;
        border-radius: .25rem;
        padding: .75rem;
        background-color: variables.$color-alabaster !important;
        border: 1px solid variables.$color-mercury;
        background: url(../../assets/images/Icons/search.svg); //why is this negating the background color of the form 
        background-repeat: no-repeat;
        background-position: .5rem;
        padding-left: 1.875rem;

        &:focus {
            outline: none !important;
            border: 2px solid variables.$color-brainflix-blue;
        }
    }

    &__mobile-avatar {
        width: 2.25rem;
        height: 2.25rem;
        border-radius: 50%;
        margin-left: 1rem;
        object-fit: cover;
    }

    &__mobile-button {
        background-color: variables.$color-brainflix-blue;
        color: variables.$color-white;
        height: 2.5rem;
        width: 100%;
        border-radius: .25rem;
        border: none;
        position: relative;

        &:hover {
            background-color: variables.$color-brainflix-darkblue;
        }
    }

    &__mobile-button-image {
        position: absolute;
        top: .5625rem;
        left: .3125rem;
    }

    // STYLING FOR TABLET/DESKTOP

    &__tablet-desktop-view {
        display: none;

        @include mixins.tablet {
            display: flex;
        }
    }

    &__tablet-desktop-form-input {
        height: 2.5rem;
        width: 15rem;
        border-radius: .25rem;
        padding: 1rem;
        background-color: variables.$color-alabaster !important;
        border: 1px solid variables.$color-mercury;
        background: url(../../assets/images/Icons/search.svg); //why is this negating the background color of the form 
        background-repeat: no-repeat;
        background-position: .5rem;
        padding-left: 30px;

        &:focus {
            outline: none !important;
            border: 2px solid variables.$color-brainflix-blue;
        }
    }

    &__tablet-desktop-button {
        background-color: variables.$color-brainflix-blue;
        color: variables.$color-white;
        height: 2.5rem;
        width: 9.375rem;
        border-radius: .25rem;
        border: none;
        padding: 0 2rem 0 2rem;
        margin-left: 1rem;
        position: relative;
    }

    &__tablet-desktop-button-image {
        position: absolute;
        top: .5625rem;
        left: .3125rem;
    }

    &__tablet-desktop-avatar {
        width: 2.5rem;
        height: 2.5rem;
        border-radius: 50%;
        margin-left: 1rem;
        object-fit: cover;
    }

}

