@use '../../styles/partials/variables.scss';
@use '../../styles/partials/mixins';

.nav {
    padding: 0 1rem 1rem 1rem;

    //anchor tag surrounding video article card
    &__link {
        text-decoration: none;
        color: variables.$color-brainflix-black;
    }

    &__article {
        display: flex;
        margin-bottom: .5rem;
    }

    &__header {
        color: variables.$color-silver;
        margin: 0;
        @include mixins.mobile-headline-padding;

        @include mixins.tablet {
            @include mixins.headline-padding;
        }
    }

    //holds video image
    &__image-container {
        height: 4rem;
    }

    &__video-image {
        height: 100%;
        width: 7rem;
        border-radius: .25rem;
        object-fit: cover;
        object-position: center;
    }

    &__text-container {
        margin-left: .5rem;
        width: 10rem;
    }

    //video title
    &__title {
        margin: 0;
        margin-bottom: .5rem;
    }

    //video channel
    &__channel {
        margin: 0;
    }
}