@use '../../styles/partials/variables.scss';
@use '../../styles/partials/mixins';

.video-nav {
    padding: 0 1rem 1rem 1rem;

    @include mixins.desktop {
        border-left: 1px solid variables.$color-divider-outline;
    }

    //anchor tag surrounding video article card
    &__link {
        text-decoration: none;
        color: variables.$color-primary-text;
    }

    &__article {
        display: flex;
        margin-bottom: .5rem;

        @include mixins.desktop {
            margin-bottom: 0;
            margin-top: 1rem;
        }
    }

    &__header {
        color: variables.$color-secondary-text;
        margin: 0;
        @include mixins.mobile-headline-padding;

        @include mixins.tablet {
            @include mixins.headline-padding;
        }

        @include mixins.desktop {
            padding-bottom: 1rem;
        }
    }

    //holds video image
    &__image-container {
        height: 4rem;
    }

    &__video-image {
        height: 100%;
        width: 7rem;
        border-radius: .25rem;
        object-fit: cover;
        object-position: center;
    }

    &__text-container {
        margin-left: .5rem;
        width: 10rem;
    }

    //video title
    &__title {
        margin: 0;
        margin-bottom: .5rem;
    }

    //video channel
    &__channel {
        margin: 0;
    }
}