@use '../../styles/partials/variables.scss';
@use '../../styles/partials/mixins';

.video__container {
    width: 100%;
    padding-top: 56.25%;
    height: 0rem;
    position: relative;
    background-color: variables.$color-video-player-components;
}

.video {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    
}