@use '../../styles/partials/variables.scss';
@use '../../styles/partials/mixins';

.video-details {
    padding: 0 1rem 0 1rem;

    @include mixins.desktop {
        padding-right: 0;
        padding-left: 8rem;
    }

    &__title {
        margin: 0;
        @include mixins.mobile-headline-padding;

        @include mixins.tablet {
            @include mixins.headline-padding;
        }
    }

    //div holding video metrics (channel name, date posted, views, likes)
    &__metrics {
        display: flex;
        align-items: center;
        justify-content: space-between;
        border-top: 1px solid variables.$color-divider-outline;
        border-bottom: 1px solid variables.$color-divider-outline;
        padding: 1rem 0 1rem 0;

        @include mixins.tablet {
            border-top: none;
            padding-top: 0;
        }
    }

    //div holding channel info (channel name and date posted)
    &__channel-info {
        margin-right: 3rem;

        @include mixins.tablet {
            display: flex;
            align-items: center;
        }
    }

    &__channel {
        margin: 0;
        margin-bottom: 1rem;

        @include mixins.tablet {
            margin: 0;
            margin-right: 2rem;
        }
    }

    &__date {
        color: variables.$color-secondary-text;
    }

    //div holding views and likes
    &__views-likes {
        display: flex;
        flex-direction: column;
        color: variables.$color-secondary-text;

        @include mixins.tablet {
            flex-direction: row;
            align-items: center; //this actually does something, i promise
        }

        @include mixins.desktop {
            margin-right: 1rem;
        }
    }

    &__views {
        margin-bottom: 1rem;

        @include mixins.tablet {
            margin: 0;
        }
    }

    &__likes {
        @include mixins.tablet {
            margin-left: 2rem;
        }
    }

    &__views-icon{
        margin-right: .5rem;
    }

    &__likes-icon {
        margin-right: .5rem;
    }

    &__description {
        margin-bottom: 0;

        @include mixins.desktop {
            margin-right: 1rem;
        }
    }

    &__comments-length {
        margin: 0;
        @include mixins.mobile-headline-padding;

        @include mixins.tablet {
            @include mixins.headline-padding;
        }
    }

    //div holding comments form
    &__comments-form {
        display: flex;
        border-bottom: 1px solid variables.$color-divider-outline;

        @include mixins.desktop {
            border-bottom: none;
        }
    }

    //form avatar
    &__comments-avatar {
        margin-top: 1.5rem;
        width: 2.25rem;
        height: 2.25rem;
        border-radius: 50%;
        background-color: variables.$color-divider-outline;

        @include mixins.tablet {
            margin-top: 1rem;
        }
    }

    //div holding form label, form input, and comment button
    &__form-text-container {
        margin-left: 1rem;
        display: flex;
        flex-direction: column;
        flex-grow: 1;

        @include mixins.tablet {
            display: block;
            margin-bottom: 1rem;
        }
    }

    &__form-label {
        font-size: .8125rem;
        line-height: 1.125rem;
        font-weight: 700;
        color: variables.$color-secondary-text;

        @include mixins.tablet {
            display: block;
        }
    }

    &__form-input {
        margin-top: .25rem;
        margin-bottom: 1rem;
        height: 6rem;
        border-radius: .25rem;
        padding: .75rem;
        background-color: variables.$color-form-field-background !important;
        border: 1px solid variables.$color-divider-outline;
        width: 100%;

        // &::placeholder {
            //find way to move 'add a new comment' up
        // }

        &:focus {
            outline: none !important;
            border: 2px solid variables.$color-primary-cta;
        }

        @include mixins.tablet {
            height: 2.5rem;
            width: 73%;
            margin-right: 2rem;
        }
    }

    &__form-button {
        margin-bottom: 1rem;
        background-color: variables.$color-primary-cta;
        color: variables.$color-background-cta;
        height: 2.5rem;
        width: 15rem;
        border-radius: .25rem;
        border: none;
        width: 100%;
        position: relative;
        cursor: pointer;

        &:hover {
            background-color: variables.$color-cta-hover;
        }

        @include mixins.tablet {
            width: 9.375rem;
        }
    }

    &__form-button-icon {
        position: absolute;
        top: .5625rem;
        left: 1rem;

        @include mixins.tablet {
            left: .5rem;
        }
    }

    //comment card
    &__comment-card {
        display: flex;
        border-bottom: 1px solid variables.$color-divider-outline;

        @include mixins.tablet {
            padding: 1rem 0 1rem 0;
        }

        @include mixins.desktop {
            border-bottom: none;
            border-top: 1px solid variables.$color-divider-outline;
        }
    }

    //comment avatar placeholder
    &__comment-avatar {
        width: 2.25rem;
        height: 2.25rem;
        border-radius: 50%;
        background-color: variables.$color-divider-outline;
        flex-shrink: 0;
        margin-top: 1rem;
    }

    //div holding all comment card text name/date/comment
    &__comment-text-container {
        margin-left: 1rem;
    }

    //div holding comment card name and date
    &__comment-name-date-container {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    &__comment-date {
        color: variables.$color-secondary-text;

        @include mixins.desktop {
            margin-right: 1rem;
        }
    }

    &__comment-text {
        margin-top: 0;
    }
}
